#wrapper.modal-active {
  //-webkit-filter: blur(8px);
  @include vendor('filter', 'blur(0.2rem)');
}

#modal-bg.modal-active {
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.mymodal {
  position: fixed;
  background-color: _palette(bg);
  z-index: 9999;
  width: 24rem;
  top: 25%;
  left: calc(50% - 12rem);
  padding: 1em;

  hr {
    margin: 1em 0;
  }

  .modal-body {
    text-align: center;
  }

  .bar {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    .icon {
      float: right;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      margin: 0.5rem 0.5rem 0.5rem 0;
      border-radius: 100%;
      border: 1px solid gray;
      padding: 0;

      &:before {
        position: absolute;
        top: -2px;
        left: 0;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;

        font-size: 1.4rem;
        color: darkgrey;
      }

      &:hover {
        &:before {
          border-radius: 100%;
          color: lightgrey;
        }
      }
    }
  }

  button.action {
    width: 3rem;
  }
}
